<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data </title>

</head>

<body>
    <%- include("header") %>


        <h1 class="h1"> Update Data</h1>
        <form action="/update?id=<%=data._id%>" method="post">

            <!-- <input type="text" name="id" value="<%=data.doc_id%>" hidden> -->
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="doc_name" value="<%=data.doc_name%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input type="text" class="form-control" name="doc_image" value="<%=data.doc_image%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" name="doc_discription" value="<%=data.doc_discription%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Online site</label>
                <input type="text" class="form-control" name="online_site" value="<%=data.online_site%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Video Link</label>
                <input type="text" class="form-control" name="video_link" value="<%=data.video_link%>">
            </div>
            <div class="mb-3">
                <label class="form-label">Estimated time</label>
                <input type="text" class="form-control" name="esteemated_time" value="<%=data.esteemated_time%>">
            </div>


            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
        </form>

</body>

</html>